/*
    Hier die Variablen
*/

@import "../lib/bootstrap/scss/bootstrap";

#loadbar{
    width: 80vw;
    margin: 10px 10%;
    border: solid black 1px;
    border-radius: 5px;
    background-color: grey;
    color: hotpink;

    #bar{
        width: 0%;
        height: 20px;
        background-color: green;
        text-align: center;
        line-height: 20px;

    }
}


/*

*/
