<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/f723190f09.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <title>DEMO</title>
</head>

<body>
<div class="container">
  <h1 class="mb-2">Die Getränkeliste:</h1>
  {% for i in range(0, len) %}
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">{{ result[i][1] }}</h5>
        <p class="card-text">{{ result[i][2] }}<br>
          <b>Inhalte:</b></br>
          {% for x in result[i][3] %}
            {% if x[4] == 1 %}
              |A| {{ x[2] }},
            {% elif x[1] == None and x[5] == 0 %}
              |F| {{ x[2] }}, 
            {% else %}
              {{ x[2] }},
            {% endif %}
          {% endfor %}
        </p>
        <a href="/makedrink/{{result[i][0]}}" class="btn btn-primary">Mix es!</a>
      </div>
    </div>
  {% endfor %}
  <a href="/" class="btn btn-primary mb-2">Zurück..</a>
</div>
  <script type="text/javascript" src="/static/lib/jquery/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/static/lib/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>

  <script>

  </script>
</body>

</html>
