<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/f723190f09.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <title>DEMO</title>
</head>

<body>
<div class="container mt-4">
  {% if rb or mb %}
    <h1>Diese Zutaten müssen noch hinzugefügt werden:</h1>
    {% if mb%}
      {% for inhalt in m %}
        <p>{{inhalt[0]}}: {{inhalt[1]}}</p>
      {% endfor %}
    {% endif %}
    {% if rb%}
      {% for inhalt in r %}
        <p>{{inhalt}} bis zum Rest auffüllen</p>
      {% endfor %}
    {% endif %}
  {% else %}
    <h1>Ihr Getränk wird zubereitet</h1>
  {% endif %}

  <a href="/" class="btn btn-primary mt-4">Zurück..</a>
</div>

  <script type="text/javascript" src="/static/lib/jquery/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>

  <script>
    $(".dropdown-item").click(function(){
      var requestet_url = "/changepump/" + this.value;
      console.log(requestet_url);
      $.ajax({url: requestet_url});
      setTimeout(function(){location.reload(true)},250);
    });
  </script>
</body>

</html>
